{include file="public/_meta"}
  </head>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 系统管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

  <body>
  <div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
      <span class="r">共有用户：<strong><?php echo $count ?></strong> 人</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg table-sort">
      <thead>
      <tr class="text-c">
        <th width="45"><input type="checkbox" name="" value=""></th>
        <th width="100">ID</th>
        <th width="120">用户名</th>
        <th width="110">最后登陆IP</th>
        <th width="150">最后访问时间</th>

      </tr>
      </thead>
      <tbody>
      {volist name="user" id="vo"}
      <tr class="text-c">
        <td><input type="checkbox" value="1" name=""></td>
        <td>{$vo.id}</td>
        <td>{$vo.username}</td>
        <td>{$vo.last_login_ip}</td>
        <td>{$vo.last_login_time|timeShow}</td>
      </tr>
      {/volist}
      </tbody>
    </table>
    <div id="pageNav" class="pageNav"></div>
  </div>
  {include file="public/_footer"}

  <script type="text/javascript">
      window.onload = (function(){
          // optional set
          pageNav.pre="&lt;上一页";
          pageNav.next="下一页&gt;";
          // p,当前页码,pn,总页面
          pageNav.fn = function(p,pn){$("#pageinfo").text("当前页:"+p+" 总页: "+pn);};
          //重写分页状态,跳到第三页,总页33页
          pageNav.go(1,13);
      });
      $('.table-sort').dataTable({
          "lengthMenu":false,//显示数量选择
          "bFilter": false,//过滤功能
          "bPaginate": false,//翻页信息
          "bInfo": false,//数量信息
          "aaSorting": [[ 1, "desc" ]],//默认第几个排序
          "bStateSave": true,//状态保存
          "aoColumnDefs": [
              //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
              {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
          ]
      });
  </script>
  <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
          var s = document.getElementsByTagName("script")[3];
          s.parentNode.insertBefore(hm, s);
      })();
      var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
      document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));
  </script>
  </body>
  </html>