<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><span class="bjh-ol"><span class="bjh-p">       2018年12月19日，巴塞罗那前锋梅西历史性的第五次捧起了欧洲金靴奖，成为这一奖项上历史上得奖次数最多的球员，超过了四次得奖的C罗。<span class="bjh-p"><br/></span></span></span></p><p><span class="bjh-ol"><span class="bjh-p"><span class="bjh-p">       12月19日电 当地时间18日，梅西在西班牙巴塞罗那领取了2017-2018赛季欧洲金靴奖。这是他个人职业生涯第五次获得该奖项，超过了四次获得该奖项的老对手C罗。</span></span></span></p><p><span class="bjh-p">        在巴塞罗那领取该奖项之后，梅西坦言：“事实上当我开始踢球的时候，我从未想过这会发生，我梦想着踢职业足球，也享受胜利，我热爱比赛，但我从未想过能收获如此多奖项。”</span></p><p><span class="bjh-p">    2017-2018赛季西甲联赛，梅西打入34球，超过在英超打入32球的萨拉赫，蝉联欧洲金靴奖。此前，梅西在2009-2010、                        2011-2012、2012-2013、2016-2017赛季分别打入34球、50球、46球和37球，四次荣获该奖项。</span></p><p><span class="bjh-p">    2018-2019赛季，31岁的梅西状态依旧火热，在对阵莱万特的西甲比赛完成“帽子戏法”后，本赛季在西甲已打入14球。(完)</span></p><p><span class="bjh-ol"><span class="bjh-p"></span></span><br/></p>
<iframe frameborder="0" width="100%" height="auto"
        src="http://goer-app.oss-cn-qingdao.aliyuncs.com/VIDEO/181379337.mp4"
        allowfullscreen></iframe>



</body>
</html>