<script type="text/javascript" src="__STATIC__/huiadmin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/static/h-ui.admin/js/H-ui.admin.js"></script>
{load href="__STATIC__/admin/js/common.js"}
<script type="text/javascript" src="__STATIC__/admin/js/jquery.uploadify.min.js"></script>
{load href="__STATIC__/admin/js/image.js" /}
