<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('news/add')}" data-title="资讯管理" href="javascript:void(0)">资讯发布</a></li>
					<li><a data-href="{:url('news/index')}" data-title="内容管理" href="javascript:void(0)">资讯管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('member/index')}" data-title="会员列表" href="javascript:;">会员列表</a></li>
					<li><a data-href="{:url('member/memberDelete')}" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
		<dt><i class="Hui-iconfont">&#xe622;</i> 用户留言<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		<dd>
			<ul>
				<li><a data-href="{:url('Comment/index')}" data-title="评论列表" href="javascript:;">评论列表</a></li>
				<li><a data-href="{:url('Comment/response')}" data-title="意见反馈" href="javascript:void(0)">意见反馈</a></li>
			</ul>
		</dd>
		</dl>
		<dl id="live-list">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 赛事直播<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="http://39.108.115.17:8812/?s=admin/live/" data-title="主持人页面" href="javascript:;">主持人页面</a></li>
					<li><a data-href="{:url('live/game')}" data-title="赛程安排" href="javascript:;">赛程安排</a></li>
					<li><a data-href="{:url('live/team')}" data-title="球队详情" href="javascript:;">球队详情</a></li>
					<li><a data-href="{:url('live/player')}" data-title="球员页面" href="javascript:void(0)">球员页面</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 数据统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('picture/index')}" data-title="折线图" href="javascript:void(0)">折线图</a></li>
					<li><a data-href="{:url('picture/coutn')}" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
				</ul>
			</dd>
		</dl>


        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
					<li><a data-href="{:url('app/index')}" data-title="版本管理" href="javascript:void(0)">版本管理</a></li>
					<li><a data-href="{:url('admin/detail')}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
                    <li><a data-href="{:url('admin/add')}" data-title="权限设置" href="javascript:void(0)">权限设置</a></li>
				</ul>
            </dd>
        </dl>


	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>