<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/huiadmin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__STATIC__/huiadmin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/huiadmin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/huiadmin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/huiadmin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__STATIC__/huiadmin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__STATIC__/huiadmin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>用户查看</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
	{volist name = "news" id = "vo" }
	<dl style="margin-left:0px; color:#fff">
		<dt>
			<span class="f-18">{$vo.title}</span>
			<span class="pl-10 f-12">阅读数：{$vo.read_count}</span>
		</dt>
		<dd class="pt-10 f-12" style="margin-left:0">发布状态: {$vo.status|appStatus=$vo.id,###}</dd>
	</dl>

</div>
<div class="pd-15">
	<table class="table">
		<tbody>
			<tr>
				<th>新闻图片:</th>
				<td><img class ="avatar size-XXXL l-30" src="{$vo.image}"></td>
			</tr>
			<tr>
				<th class="text-r"> 内容： </th>
				<td>{$vo.content}</td>
			</tr>
			<tr>
				<th class="text-r">发布时间：</th>
				<td>{$vo.create_time}</td>
			</tr>

		</tbody>
	</table>
	{/volist}
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/huiadmin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/huiadmin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>