<!doctype html>
<!-- [ published at 2017-09-19 16:42:07 ] -->

<!--[if lt IE 7]>  <html id="html" class="ie ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html id="html" class="ie ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html id="html" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>     <html id="html" class="ie ie9"> <![endif]-->
<!--[if gt IE 9]>  <html id="html"> <![endif]-->
<!--[if !IE]><!--> <html id="html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=1024" />

    <!--[if lt IE 9]>
    <script src="//n.sinaimg.cn/lib/common/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <meta name="keywords" content="NBA,美职篮,勇士,骑士,火箭,湖人,常规赛,季后赛,总决赛,库里,詹姆斯,哈登,保罗,杜兰特,威少,字母哥,交易,体育新闻">
    <meta name="description" content="新浪体育NBA频道提供最快速最全面最专业的NBA比赛实时图文数据直播及深度原创">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/base/latest/css/base.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/base/latest/css/util/layout.css">
    <link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/nav-b.css">
    <link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/footer-a.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/NBA.common.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/iteam.css?v=20180102">
</head>
<script type="text/javascript">
    var PAGEDATA = {};
    var MatchConfig = {
        season: 2017
    };
</script>

<body>
<!-- head.html -->
<link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/nav-b.css">

<!-- bannner -->
<div class="banner"></div>
<!-- 导航 -->

<div class="layout-wrap-f" id="js-match">
    <!-- title s-->
    <div class="match-title">
        <!-- 右边内容 s-->
        <div class="match-filter">
            <div class="match-filter-calendar" node-type="calendarSlider" data-id="1">
                <a href="javascript:void(0)"  class="calendar-prev" node-type="prev"></a>
                <div class="calendar-slider" node-type="slider">
                    <div class="calendar-move" node-type="move">
                    </div>
                </div>

                <a href="javascript:void(0)" class="calendar-next" node-type="next"></a>

            </div>
            <div class="match-calendar" node-type="matchCalendar" data-id="1">
                <a class="match-calendar-btn datetimepicker"  href="javascript:void(0)" node-type="calendar1" ></a>
                <!-- 月赛 -->
                <div class="match-month" node-type="calendar2">
                    <a class="match-calendar-btn month-btn"  href="javascript:void(0)" node-type="btnMonth" ></a>
                    <div class="match-calendar-month" node-type="layer" style="display: none">
                        <span class="match-team-arrow"></span>
                        <div class="match-calendar-month_top">
                            <span node-type="year"></span>
                            <span class="match-calendar-arrow_left" node-type="calendarPrev"><i class="ico_arrow_left"></i></span>
                            <span class="match-calendar-arrow_right" node-type="calendarNext"><i class="ico_arrow_right"></i></span>
                        </div>
                        <div class="match-calendar-month_con" node-type="monthCon">
                            <a href="javascript:void(0)" node-type="month">一月</a>
                            <a href="javascript:void(0)" node-type="month">二月</a>
                            <a href="javascript:void(0)" node-type="month">三月</a>
                            <a href="javascript:void(0)" node-type="month">四月</a>
                            <a href="javascript:void(0)" node-type="month">五月</a>
                            <a href="javascript:void(0)" node-type="month">六月</a>
                            <a href="javascript:void(0)" node-type="month">七月</a>
                            <a href="javascript:void(0)" node-type="month">八月</a>
                            <a href="javascript:void(0)" node-type="month">九月</a>
                            <a href="javascript:void(0)" node-type="month">十月</a>
                            <a href="javascript:void(0)" node-type="month">十一月</a>
                            <a href="javascript:void(0)" node-type="month">十二月</a>
                        </div>
                    </div>
                </div>
                <!-- 季赛 -->
                <div class="match-season" node-type="calendar3" >
                    <a class="match-calendar-btn month-btn-3"  href="javascript:void(0)" node-type="btnSeason" ></a>
                    <div class="match-calendar-month" node-type="layer" style="display: none">
                        <span class="match-team-arrow"></span>
                        <div class="match-calendar-season_con" node-type="seasonCon">

                        </div>
                    </div>
                </div>

            </div>
            <div class="match-filter-sel">
                <select node-type="matchTime">
                    <option value="1">7日赛程</option>
                    <option value="2">月赛程</option>
                    <option value="3">完整赛程</option>
                </select>
            </div>
            <div class="match-filter-team" node-type="teamMatch">
                <a class="match-team-btn" href="javascript:void(0)" node-type="btnShowTeam">球队赛程</a>
                <!--球队赛程浮层 s-->
                <div class="match-team-list" node-type="layer" style="display: none">
                    <div node-type="list">
                        <span class="match-team-arrow"></span>
                        <p class="load-tip" node-type="tip"><a href="javascript:void(0)">加载失败,请点击重试</a></p>
                        <p class="loading" node-type="loading"><i class="ico_loading"></i>加载中...</p>
                    </div>
                </div>
                <!--球队赛程浮层 e-->
            </div>
            <a style="display:none" class="match-team-btn" node-type="btnTeamAll" href="javascript:void(0)">全部赛程</a>
        </div>
        <!-- 右边内容 e-->
        <h1><span node-type="seasonTitle"></span><span node-type="teamName"></span></h1>
    </div>
    <!-- title e-->

    <!-- 正文 s-->
    <div class="match-con" >
        <p class="load-tip" node-type="tip"><a href="javascript:void(0)">加载失败,请点击重试</a></p>
        <p class="loading" node-type="loading"><i class="ico_loading"></i>加载中...</p>
        <div class="search_empty layout-mb-b layout-mt-c" node-type="noData" style="display: none;">
            <img class="search_empty_img layout-mb-d" width="90" height="100" src="//n.sinaimg.cn/products/nba-database/images/player-compare-empty.png" alt="">
            <div class="search_empty_text">对不起，没找到您想要的内容...</div>
        </div>
        <!-- <div class="plaCom-filters-more" node-type="noData"><div class="arrow"></div>暂无比赛数据</div> -->
        <div class="match-con-list" node-type="matchList">
        </div>
        <div node-type="pager" class="pager layout-mt-d">
        </div>
    </div>
    <!-- 正文 e-->
</div>

<script type="text/javascript" src="//n.sinaimg.cn/products/nba-database/js/util/require.js"></script>
<script type="text/javascript" src="//n.sinaimg.cn/products/base/latest/js/lib/jquery.js"></script>
<script type="text/javascript">
    var youyiRequire = requirejs.config({
        context: 'youyi',
        baseUrl: '//n.sinaimg.cn/products/nba-database/js/',
        urlArgs: 'v=201801112'
    });
    youyiRequire( [ 'match'], function (Match) {
        var match = new Match('#js-match', {
        });
    });
</script>
<!-- foot.html -->
<footer class="footer-a">
    <div class="inner" layer-type="layer-wrap">
    </div>
</footer>
<script type="text/javascript">
    requirejs.config({
        urlArgs: 'v=20170612132115',
        baseUrl: '//n.sinaimg.cn/products/base/latest/'
    });

    require(['js/component/sina/navB'],function (Nav) {
        var id = 'j_nav';
        var opt = {
            entry:'sports'
        };
        new Nav(document.getElementById(id),opt);
    });
</script>

<!-- SUDA_CODE_START DAGGER -->
<script type="text/javascript" src="//www.sinaimg.cn/unipro/pub/suda_s_v851c.js"></script>
<noScript>
    <div style='position:absolute;top:0;left:0;width:0;height:0;visibility:hidden'><img width=0 height=0 src='//beacon.sina.com.cn/a.gif?noScript' border='0' alt='' /></div>
</noScript>
<!-- SUDA_CODE_END DAGGER -->
<!-- DMP_CODE_START DAGGER -->
<script type="text/javascript">
    (function(d, s, id) {
        var n = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        s = d.createElement(s);
        s.id = id;
        s.setAttribute('charset', 'utf-8');
        s.src = '//d' + Math.floor(0 + Math.random() * (8 - 0 + 1)) + '.sina.com.cn/litong/zhitou/sinaads/src/spec/sinaads_ck.js';
        n.parentNode.insertBefore(s, n);
    })(document, 'script', 'sinaads-ck-script');
</script>
<!-- DMP_CODE_END DAGGER -->
</body>
</html>
