<!doctype html>
<!-- [ published at 2017-09-19 16:42:07 ] -->

<!--[if lt IE 7]>  <html id="html" class="ie ie6 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html id="html" class="ie ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html id="html" class="ie ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]>     <html id="html" class="ie ie9"> <![endif]-->
<!--[if gt IE 9]>  <html id="html"> <![endif]-->
<!--[if !IE]><!--> <html id="html"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1024" />
    <!--[if lt IE 9]>
    <script src="//n.sinaimg.cn/lib/common/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="//n3.sinaimg.cn/products/base/latest/css/base.css">
    <link rel="stylesheet" type="text/css" href="//n3.sinaimg.cn/products/base/latest/css/util/layout.css">
    <link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/nav-b.css">
    <link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/footer-a.css">
    <link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/thumbnail-a.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/NBA.common.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/playerSummary.css">
    <link rel="stylesheet" type="text/css" href="//n.sinaimg.cn/products/nba-database/css/typeahead.css">
</head>
<body>
<!-- head.html-->
<link rel="stylesheet" type="text/css" href="//n1.sinaimg.cn/products/base/latest/css/component/sina/nav-b.css">



<div class="layout-wrap-f layout-of-hidden">
    <!--player search start-->

    <!--player search end-->

    <!--hot player start-->
    <div class="hot-player-con">
        <div class="tit-01 clearfix">
            <h3><span>热门球员</span><i></i></h3>
            <div class="tit-right"></div>
        </div>
        <div class="clearfix layout-mt-b layout-ml-a" id="plaSumHot">
            <p node-type="loading" style="display:none;">加载中...</p>
            <p node-type="tip" style="display:none;"></p>
            <div node-type="list"></div>
        </div>
    </div>
    <!--hot player end-->

    <!--season player start-->
    <div class="season-player-con">
        <div class="tit-01 clearfix">
            <h3><span>2017-18赛季球员</span><i></i></h3>
            <div class="tit-right"></div>
        </div>
        <div class="clearfix layout-mt-b layout-ml-a" id="plaSumSeason">
            <p node-type="loading" style="display:none;">加载中...</p>
            <p node-type="tip" style="display:none;"></p>
            <div node-type="list"></div>
        </div>
    </div>
    <!--season player end-->
</div>

<script type="text/javascript" src="//n.sinaimg.cn/products/base/latest/js/lib/jquery.js"></script>
<script type="text/javascript" src="//n.sinaimg.cn/products/nba-database/js/util/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="//n.sinaimg.cn/products/nba-database/js/util/require.js"></script>
<script type="text/javascript">
    var youyiRequire = requirejs.config({
        context: 'youyi',
        baseUrl: '//n.sinaimg.cn/products/nba-database/js/',
        urlArgs: 'v=20181127'
    });
    youyiRequire( [ 'playerSummary'], function () {});
</script>
<!-- foot.html -->
<footer class="footer-a">
    <div class="inner" layer-type="layer-wrap">
    </div>
</footer>
<script type="text/javascript">
    requirejs.config({
        urlArgs: 'v=20170612132115',
        baseUrl: '//n.sinaimg.cn/products/base/latest/'
    });

    require(['js/component/sina/navB'],function (Nav) {
        var id = 'j_nav';
        var opt = {
            entry:'sports'
        };
        new Nav(document.getElementById(id),opt);
    });
</script>

<!-- SUDA_CODE_START DAGGER -->
<script type="text/javascript" src="//www.sinaimg.cn/unipro/pub/suda_s_v851c.js"></script>
<noScript>
    <div style='position:absolute;top:0;left:0;width:0;height:0;visibility:hidden'><img width=0 height=0 src='//beacon.sina.com.cn/a.gif?noScript' border='0' alt='' /></div>
</noScript>
<!-- SUDA_CODE_END DAGGER -->
<!-- DMP_CODE_START DAGGER -->
<script type="text/javascript">
    (function(d, s, id) {
        var n = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        s = d.createElement(s);
        s.id = id;
        s.setAttribute('charset', 'utf-8');
        s.src = '//d' + Math.floor(0 + Math.random() * (8 - 0 + 1)) + '.sina.com.cn/litong/zhitou/sinaads/src/spec/sinaads_ck.js';
        n.parentNode.insertBefore(s, n);
    })(document, 'script', 'sinaads-ck-script');
</script>
<!-- DMP_CODE_END DAGGER -->
</body>
</html>
